@import 'assets/variables';

.chats-list {
  padding: 1rem;
  padding-top: 5px;
  padding-bottom: 2rem;

  .sidebar-navlink-wrapper {
    position: relative;

    .delete-button {
      display: none;
      align-self: center;
      font-size: 1rem;
      color: $text-descriptive;
      padding: 2px 7px;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0.5rem;
      background: transparent;
      border-radius: 6px;

      &:hover {
        color: white;
      }
    }

    &:hover {
      .delete-button {
        display: block;
      }
    }
  }
}