@import 'assets/variables';

.chats-list {
  padding: 1rem;
  padding-top: 5px;
  padding-bottom: 2rem;

  .sidebar-navlink-wrapper {
    position: relative;

    .delete-button {
      display: none;
      align-self: center;
      font-size: 1rem;
      color: $text-descriptive;
      padding: 2px 7px;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 0.5rem;
      background: transparent;
      border-radius: 6px;

      &:hover {
        color: white;
      }
    }

    &:hover {
      .delete-button {
        display: block;
      }
    }
  }

  button.add-users-button {
    width: auto;
    color: #c5b8c6;
    padding: 0;
    padding-left: 1.2rem;
    font-weight: 400;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    background: transparent;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}