.workspace-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1.5rem;

  .nav-list {
    height: 100%;
    display: flex;
    align-items: center;
  
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex: 1;
    }

    li {
      list-style-type: none;
      padding: 0.25rem 0.75rem;
      font-size: 0.85rem;
    }
  }
}