@import 'assets/variables';

.workspaces-page-main {
  .workspaces-hero {
    padding-bottom: 3rem;
  }

  .heading {
    display: flex;
    text-align: left;
    margin-bottom: 1.5rem;
    
    img {
      display: inline-flex;
      align-self: center;
      width: 1em;
      height: 1em;
      margin-right: 0.25rem;
    }
  }

  .signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: $subheading-font-size;

    p {
      margin-right: 1rem;
    }

    a {
      color: $text-link-light;
      &:hover {
        color: $text-link-light;
      }
    }
  }

  .pre-footer {
    background: $background-primary-dark;
    border: none;
    clip-path: ellipse(75% 100% at center top);
    height: 100px;
    padding: 2rem 0;
  }
}
