@import 'assets/variables';

.sidebar-navlink-wrapper {
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 16px;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  user-select: none;
  width: 100%;
  color: #c5b8c6;
  text-decoration: none;

  .svg-icon, .avatar {
    margin-right: 0.5rem;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover:not(.active) {
    background: $background-hover;
    text-decoration: none;
  }

  &.active {
    border-radius: 6px;
    background: #1164A3;
    color: #fff;
  }
}