@import 'assets/variables';

.workspace-sidebar-section-wrapper {
  color: #fff;
  font-size: $subheading-font-size;
  font-weight: bold;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  border-top: 1px solid rgb(82,38,83);
  border-bottom: 1px solid rgb(82,38,83);

  .workspace-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  &.workspace-sidebar-placeholder-wrapper {
    background: rgb(82,38,83);
  }

  h4 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown .trigger-button {
    margin-left: 1rem;
  }
}

.item-placeholder {
  width: 65%;
  background-color: #ffffff1a;
  border-radius: 8px;
  height: 15px;
  margin: 0 16px;
}