@import 'assets/variables';

.channel-main-info {
  padding: 10px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid $background-flat;
  
  span {
    display: block;
  }

  .heading {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }

  .channel-description {
    color: $text-descriptive;
    margin-bottom: 0.5rem;
  }

  button.edit-channel-description {
    width: auto;
    color: $text-link;
    padding: 0;
    font-weight: 400;
    margin-right: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  button.delete-channel {
    width: auto;
    color: $text-descriptive;
    padding: 0;
    font-weight: 400;

    &:hover {
      color: $text-error;
      text-decoration: underline;
    }
  }
}
