@import 'assets/variables';

.new-message-button {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  background-color: white;
  color: $primary-dark;
  border-radius: 50%;
  font-size: 1.2rem;
  border: none;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}