@import 'assets/variables';

.dropdown-menu-user-data {
  color: $default;
  padding: 5px 2rem 5px 1rem;
  font-size: 0.9rem;

  p {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .user-email {
    color: $text-descriptive;
  }
}