// colors
$primary: #4a154b;
$text-main: #1d1c1d;
$text-secondary: #454245;
$text-descriptive: #616061;
$text-link: #1264a3;
$text-link-dark: #0b4c8c;

// fonts
$regular-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$highlight-font-family: 'Lato', Helvetica, Arial, sans-serif;
