// colors
$default: #000;
$primary: #611f69;
$primary-dark: #4a154b;
$primary-darker: #400d40;
$primary-darkest: #350d36;
$success: #007b5a;
$success-dark: #006a4e;
$ghost-light: #ebeaeb;
$ghost-transparent: rgba(255,255,255,.2);
$text-main: #1d1c1d;
$text-secondary: #454245;
$text-descriptive: #616061;
$text-link: #1264a3;
$text-link-light: #36c5f0;
$text-link-dark: #0b4c8c;
$text-error: #e01e5a;
$text-disabled: #4d4c4d;
$background-primary: #541554;
$background-primary-dark: #4a154b;
$background-flat: #ecdeec;
$background-empty: #fff;
$background-disabled: #ddd;
$background-hover: #4D2A51;

// fonts
$regular-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$highlight-font-family: 'Lato', Helvetica, Arial, sans-serif;

$base-font-size: 15px;
$heading-font-size: 3rem;
$subheading-font-size: 1.15rem;
