@import 'assets/variables';

.dropdown {
  position: relative;

  .trigger-button {
    display: flex;
    background: none;
    color: inherit;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 6px;

    .svg-icon {
      margin-left: 5px;
    }
    
    &:hover {
      background: $background-hover;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: $background-empty;
    padding: 0.5rem 0;
    border-radius: 6px;
    max-height: calc(100vh - 62px);
    max-width: 500px;
    min-width: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 12px 0 #0000001f;
    border: 1px solid $ghost-light;

    &.stick-left {
      left: 1rem;
    }

    &.stick-right {
      right: 1rem;
    }
  }
}

.dropdown-menu-link, .dropdown-menu-button {
  font-size: 0.8rem;
  font-weight: normal;
  text-decoration: none;
  width: 100%;
  color: $default;
  line-height: 1rem;
  text-align: left;
  background: none;
  border: none;
  padding: 5px 1rem;
  cursor: pointer;

  &:hover {
    background: $background-active;
    color: #fff;
  }
}