@import 'assets/variables';

.message-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px 30px;

  .main-section {
    display: flex;
    gap: 15px;  
  }

  .delete-button {
    display: none;
    align-self: center;
    font-size: 1.3rem;
    color: $text-error;
    background: none;
    border: none;
    cursor: pointer;
  }

  &:hover {
    background: rgba(221, 221, 221, 0.3);

    .delete-button {
      display: block;
    }
  }

  p {
    margin: 0;
  }

  .name-time {
    margin-bottom: 5px;
  }

  .time {
    color: $text-descriptive;
    font-size: 0.8rem;
  }
}