@import 'assets/variables';

.channel-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 1.5rem;
  border-bottom: 1px solid $background-flat;
  flex-shrink: 0;

  .members-count {
    color: $text-descriptive;
    font-size: 0.85rem;
  }

  .subheading {
    text-align: left;
    font-weight: bold;

    .svg-icon {
      margin-right: 2px;
    }
  }

  .dropdown .trigger-button:hover {
    background: inherit;
  }

  .self-user-hint {
    color: $text-descriptive;
    font-size: 0.85rem;
  }

  .channel-member-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2px 15px;
  }
}