@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&family=Ubuntu:wght@500&display=swap');
@import 'assets/variables';

*, ::after, ::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $regular-font-family;
  color: $text-main;
  font-size: $base-font-size;
  line-height: 1.5;
  font-weight: initial;
  background-color: #fff;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div {
  display: block;
}

a.link {
  color: $text-link;
  text-decoration: none;
  margin-bottom: 0;
  font-size: inherit;
  letter-spacing: 0.05em;

  &.light {
    color: #fff;
  }

  &:hover {
    color: $text-link-dark;
    text-decoration: underline;
    
    &.light {
      color: #fff;
    }
    &.button {
      text-decoration: none;
    }
  }
}

form {
  width: 100%;
}

h4 {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.heading {
  font-family: $highlight-font-family;
  font-size: $heading-font-size;
  font-weight: 700;
  letter-spacing: -.75px;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 700px;
  text-align: center;
}

.subheading {
  color: $text-secondary;
  font-size: $subheading-font-size;
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 700px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.no-margin {
  margin: 0;
}

.w-auto {
  width: auto;
}

.flex-row {
  display: flex;
  gap: 1rem;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.hero {
  background-color: $background-primary;
  color: #fff;
  padding-top: 7rem;

  &.hero-dark {
    background-color: $background-primary-dark;
  }

  @media screen and (min-width: 48rem) {
    padding-top: 8rem;
    max-width: none;
  }

  @media screen and (max-width: 767px) {
    padding-top: 10rem;
  }
  
  @media screen and (max-width: 600px) {
    padding-top: 12rem;
  }
}

.content-container {
  max-width: 62.875rem;
  margin: 0 auto;
  padding: 0 8vw;

  @media screen and (min-width: 48rem) {
    padding: 0 4vw;
  }
  
  @media screen and (min-width: 84.875rem) {
    padding: 0;
    max-width: 76.875rem;
  }
}
