@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import 'assets/variables';

body {
  color: $text-main;
  font-size: 15px;
  font-family: $regular-font-family;
  line-height: 1.5;
  font-weight: initial;
  background-color: #fff;
}

a {
  color: $text-link;
  text-decoration: none;
}

form {
  width: 100%;
}

.bold {
  font-weight: 700;
}

.heading {
  font-family: $highlight-font-family;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -.75px;
  line-height: 46px;
  margin-top: 0;
  margin-bottom: 15px;
  max-width: 700px;
  text-align: center;
}

.subheading {
  color: $text-secondary;
  font-size: 18px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 32px;
  max-width: 700px;
  text-align: center;
}